:markdown-it
  Teeworlds is a popular platformer video game comprising a variety of game modes. The game is Open-Source and multiple variations of the original game exist. The most popular is DDRaceNetwork, in which players collaborate to reach the end of the map as fast as possible.
  
  The game maps are created by the players and submitted to the community to be included in the Teeworlds servers. I created an online map editor in which multiple users can connect simultaneously, and modifications are synchronized in real time.
  That way, players can create maps collaboratively!
