:markdown-it
  Teeworlds est un jeu de plateforme multijoueur comprenant une multitude de modes de jeu. Le jeu est développé en Open Source et de nombreuses variantes ont vu le jour au fil des années, notament la version DDRaceNetwork actuellement la plus populaire.
  
  DDRace est un mode de jeu collaboratif où les joueurs doivent s'entraîder pour parvenir à la fin de la map le plus vite possible. Les maps sont créées par les joueurs et proposées à la communauté pour être intégrées sur les serveurs.
  J'ai développé un éditeur de map en ligne, où tout le monde peut se connecter et créer des maps ensemble. Les modifications sont synchronisées en temps réel entre les différents utilisateurs.
  Les joueurs peuvent désormais créer des maps collaborativement !
