:markdown-it
  [MonCraft](https://moncraft.thissma.fr/) is a 3D video game inspired by [Minecraft](https://minecraft.net/). Development began during a course dispensed by [Mr. Isenberg](https://tobias.isenberg.cc/) at the engineering school Polytech Paris-Saclay.
  Development continued after the course as the subject interessed us particularly.

  MonCraft is build from scratch, allowing us to experiment and try our ideas in 3D rendering. Many features have been implemented, such as: an infinite **procedural generation**, a **multiplayer** mode, a demo **[web version](https://moncraft.thissma.fr/)**.

img(src='moncraft.png?as=webp&width=800' alt="An in-game screenshot")
div(class='img-desc') An in-game screenshot

img(src='collage.png?as=webp&width=800' alt="Procedurally generated images")
div(class='img-desc') Procedurally generated images used for biome generation
