:markdown-it
  [MonCraft](https://moncraft.thissma.fr/) est un jeu vidéo conçu initialement pour le cours d'OpenGL dispensé à Polytech Paris-Saclay par M. Isenberg.
  Le sujet nous ayant particulièrement intéressé, Pierre et moi-même avons décidé de poursuivre le développement.

  MonCraft est codé à partir de zéro ou presque, nous permettant d'expérimenter et d'apprendre au mieux le fonctionnement des applications 3D. De nombreuses fonctionnalités ont étés implémentées : Une **génération procédurale** infinie, un mode **multijoueur**, une **version web** de démo.

img(src='moncraft.png?as=webp&width=800' alt="capture d'écran en jeu")
div(class='img-desc') Une capture d'écran du jeu

img(src='collage.png?as=webp&width=800' alt="images générées procéduralement")
div(class='img-desc') Images procédurales pour la génération des "biomes"
