:markdown-it
  Pixels is a mini-game where players collaborate in real time on a canvas to draw pixel art.
  
  The idea came from the viral '[r/place](https://en.wikipedia.org/wiki/Place_(Reddit))' experiment that took place on [Reddit](https://www.reddit.com/r/place/). 
  
img(src='rplace.png?as=webp&width=800' alt="Screen capture of r/place from Reddit.")
div(class='img-desc') Screen capture of r/place from Reddit.
