:markdown-it
  Pixels est un mini-jeu dans lequel les joueurs colorent des pixels sur un canvas, en temps réel. Les joueurs collaborent à la création de pixel art en réseau.
  
  L'idée provient de l'expérience virale [r/place](https://en.wikipedia.org/wiki/Place_(Reddit)) menée par le réseau social [Reddit](https://www.reddit.com/r/place/). 
  
img(src='rplace.png?as=webp&width=800' alt="Capture de r/place sur Reddit.")
div(class='img-desc') Capture d'écran de r/place sur Reddit.
