:markdown-it
  [Perfanalytics](https://perfanalytics.fr/) is an ongoing research project aiming at developing performance indicators using video analysis. The project is lead by the [French National Institute for Research in Digital Science and Technology](https://www.inria.fr/en)

  I worked on a variety of subjects, such as A.I. **Object Detection**, **3D projections** and **web interfaces**. 

img(src='detections.png?as=webp&width=800' alt="Climbing holds detection")
div(class='img-desc') Climbing Holds detection on a video using the YOLO A.I. model

img(src='proj.png?as=webp&width=800' alt="Video projection in a virtual world")
div(class='img-desc') Video projection in a virtual world
