:markdown-it
  [Perfanalytics](https://perfanalytics.fr/) est un projet de recherche porté par [l'institut national de recherche en sciences et technologies du numérique (INRIA)](https://www.inria.fr/fr) en vue des Jeux Olympiques et Paralympiques de Paris 2024. Il vise le développement des outils d'analyse vidéo pour fournir des indicateurs de performance aux entraîneurs et athlètes.

  En 2021 j'ai réalisé un stage à Grenoble pour développer des outils numériques dans le cadre de ce projet. J'ai notament travaillé sur de la **détection d'objets** par I.A. et des projections de vidéos dans un environnement **3D**.

img(src='detections.png?as=webp&width=800' alt="Détections de prises d'escalade")
div(class='img-desc') Détections de prises d'escalade avec le modèle YOLO

img(src='proj.png?as=webp&width=800' alt="Projection de la vidéo dans un monde virtuel")
div(class='img-desc') Projection de la vidéo dans un monde virtuel

:markdown-it
  L'expérience était très enrichissante : j'ai eu l'occasion de travailler sur plusieurs sujets et technologies, allant de la programmation de *Dashboards* en Python ; à l'entraînement de modèles d'Intelligence Artificielle ; à la 3D et la modélisation.