:markdown-it
  The [Royal Game of Ur](https://en.wikipedia.org/wiki/Royal_Game_of_Ur) is one of the oldest board games still playable today. It was popular in ancient Mesopotamia around 2600 BC.

  I built an [online version](https://ur.thissma.fr/) of the game, supporting 3 game modes : 1v1, multiplayer online and against a bot.
  

div(style={ display: 'grid', gap: '2rem', 'grid-template-columns': '3fr 2fr' })
  img(src='ur.jpg?as=webp&width=500' alt="The Royal Game of Ur")
  img(src='ur_rules.jpg?as=webp&width=400' alt="The Royal Game of Ur")
  
br
i For more informations about the game, go watch the playthrough starring Tom Scott on the 
  a(href='https://youtu.be/WZskjLq040I') British Museum YT channel
  | .
