:markdown-it
  Le [Jeu Royal d'Ur](https://fr.wikipedia.org/wiki/Jeu_royal_d%27Ur) est l'un des plus vieux jeux de plateau dont on ait pu retrouver les règles. Il apparaît en Mésopotamie vers -2600 av. J.C.

  J'ai créé une [version web](https://ur.thissma.fr/) du jeu, avec plusieurs modes : deux joueurs, multijoueur en réseau ou contre un bot.
  
div(style={ display: 'grid', gap: '2rem', 'grid-template-columns': '3fr 2fr' })
  img(src='ur.jpg?as=webp&width=500' alt="The Royal Game of Ur")
  img(src='ur_rules.jpg?as=webp&width=400' alt="The Royal Game of Ur")
  
br
i Pour plus d'informations sur le jeu, voir la vidéo de Tom Scott sur la chaîne Youtube du  
  a(href='https://youtu.be/WZskjLq040I') British Museum
  | . [en anglais]
