:markdown-it
  Android mobile app to access the timetable for [Polytech Paris-Saclay](https://www.polytech.universite-paris-saclay.fr/en) students.
  Data is scrapped from a website and stored on user's device. It is then updated regularly.
  Displayed Courses are filtered for a user's profile.

div(style={ display: 'grid', gap: '2rem', 'grid-template-columns': '1fr 1fr' })
  img(src='1.png?as=webp&width=800' alt="The home screen")
  img(src='2.png?as=webp&width=800' alt="The app settings")
  
:markdown-it
  ![Format paysage](5.png?as=webp&width=800)

:markdown-it
  The app is actively used by a majority of students on the campus (~500 active users). The project allowed me to discover the Android ecosystem and publishing process.