:markdown-it
  Réalisation d'une application mobile pour Android permettant d'accéder à l'emploi du temps par les élèves de [Polytech Paris-Saclay](https://www.polytech.universite-paris-saclay.fr/).
  Les données sont récoltées à l'aide d'un scrapper et sont sauvegardés sur l'appareil, puis mises à jour régulièrement.
  L'affichage des cours est personnalisé en fonction du profil de l'élève.

div(style={ display: 'grid', gap: '2rem', 'grid-template-columns': '1fr 1fr' })
  img(src='1.png?as=webp&width=800' alt="Une journée de cours")
  img(src='2.png?as=webp&width=800' alt="Paramètres d'affichage")
  
:markdown-it
  ![Format paysage](5.png?as=webp&width=800)

:markdown-it
  L'application est à ce jour utilisée par la majorité des élèves de Polytech (500 utilisateurs réguliers). Ce projet m'aura permis de découvrir l'écosystème Android et la distribution d'applications sur le Play Store.